doctype html
html
    head 
        
    body
        header
            div 
                h1#main-header IP Address Tracker
            div 
                form#ip-input-container(action="/" method="POST")
                    input#ip-input(type="text" name="ip" placeholder="Search for any IP address or domain")
                    button#submit-ip-button(type="submit") 
                        img#arrow-icon(src='./icon-arrow.svg' alt="arrow icon")

    footer
