
*{
    padding: 0;
    margin: 0;
}

:root{
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);

    --ff-rubik: 'Rubik', sans-serif;
}



body{
    /* center items on the page */
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

header{
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#header-div{
    min-height: 16em;
    background-image: url('./pattern-bg.png');
    background-repeat: no-repeat;
    background-position: center; 
}

#main-header{
    padding: 1em;
    color: white;
    font-family: var(--ff-rubik);
    font-weight: 400;
    font-size: x-large;
}

#ip-input-container{
    display: inline-flex;
    min-height: 3em;
    min-width: 18em;
    border-radius: 10px;
}

#ip-input{
    border: none;
    width: 20em;
    border-radius: 10px 0px 0px 10px;
}

#arrow-icon{
    border: none;
    background-color: black;
    padding: 1em;
    border-radius: 0px 10px 10px  0px  ;

}


#map{
    height: 400px;
    width: 400px;
}

footer{
    position: relative;
    bottom: 0;
    display: none;
}