
*{
    padding: 0;
    margin: 0;
}

:root{
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);

    --ff-rubik: 'Rubik', sans-serif;
}



body{
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#header-div{
    
    min-height: 8em;
    background-image: url('./pattern-bg.png');
    background-repeat: no-repeat;
    background-position: center; 
}

#main-header{
    padding: 1em;
    color: white;
    font-family: var(--ff-rubik);
    font-weight: 400;
    font-size: x-large;
}

#map{
    height: 400px;
    width: 400px;
}

footer{
    position: relative;
    bottom: 0;
    display: none;
}