
*{
    padding: 0;
    margin: 0;
}

:root{
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);

    --ff-rubik: 'Rubik', sans-serif;
}

#header-div{
    text-align: center;
    min-height: 15em;
    min-width: 100%;
    background-image: url('./pattern-bg.png');
    background-repeat: no-repeat;
    background-position: center; 
}

#main-header{
    padding-top: 1em;
    color: white;
    font-family: var(--ff-rubik);
    font-weight: 400;
    font-size: x-large;
}

#ip-input-container{
    display: flex;
    justify-content: center;
    margin: 1em;
    min-height: 3em;
    max-height: 3em;
    min-width: 18em;
    border-radius: 10px;
}

#ip-input{
    border: none;
    min-width: 20em;
    border-radius: 10px 0px 0px 10px;
}

#submit-ip-button{
    border: none;
    background-color: black;
    padding: 1em;
    border-radius: 0px 10px 10px  0px  ;
    cursor: pointer;
}

#info-div{
    z-index: 1000;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    margin-top: 1em;
    min-width: 19em;
    max-width: 19em;
    min-height: 15.5em;
    background-color: white;
}

ul {
    margin-top: 1em;
    list-style: none;
    font-family: var(--ff-rubik);
    font-weight: 500;
    color: var(--very-dark-gray);
}

.list-heading{
    margin: 1em;
    font-family: var(--ff-rubik);
    color: var(--dark-gray);
    font-size: x-small;
    letter-spacing: 1px;
}

#map{
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 50rem;
    min-width: 50rem;
}

footer{
    position: fixed;
    bottom: 0;
    display: none;
}